<a href="https://colab.research.google.com/github/drshahizan/Python_EDA/blob/main/big%20data/3%20Dask/lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Dask With Python Distributed Computing
Source: [Web](https://https://soumilshah1995.blogspot.com/2021/01/learn-about-python-dask-in-easy-way.html), [Youtube](https://youtu.be/IdsdAT8nrhI)

## Installation of Dask

In [ ]:
!pip show dask

Name: dask
Version: 2022.2.1
Summary: Parallel PyData with Task Scheduling
Home-page: https://github.com/dask/dask/
Author: None
Author-email: None
License: BSD
Location: /usr/local/lib/python3.8/dist-packages
Requires: cloudpickle, pyyaml, fsspec, partd, toolz, packaging
Required-by: distributed

In [ ]:
# Define the Imports 
try:
    import os
    import json
    import math
    import dask
    from dask.distributed import Client
    import dask.dataframe as dd
    import numpy as np
    import dask.multiprocessing
except Exception as e:
    print("Some Modules are Missing : {} ".format(e))

Sila upload netflix.csv pada files di google colab.

In [ ]:
os.listdir()

['.config', 'sample_data']

In [ ]:
size = os.path.getsize("netflix_titles.csv") / math.pow(1024,3)
print("Size in GB : {} ".format(size))

Size in GB : 0.0022451020777225494

In [ ]:
client = Client(n_workers=3, threads_per_worker=1, processes=False, memory_limit='2GB')

/usr/local/lib/python3.8/dist-packages/distributed/node.py:180: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 46245 instead
  warnings.warn(

In [ ]:
client

## Read a csv Files

In [ ]:
dd = dd.read_csv("netflix_titles.csv")

In [ ]:
dd

Dask DataFrame Structure:
              show_id    type   title director    cast country date_added release_year  rating duration listed_in description
npartitions=1
                int64  object  object   object  object  object     object        int64  object   object    object      object
                  ...     ...     ...      ...     ...     ...        ...          ...     ...      ...       ...         ...
Dask Name: read-csv, 1 tasks

In [ ]:
dd.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [ ]:
dd.tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [ ]:
dd.shape

(Delayed('int-ec5c7aae-a471-4bb6-bb06-b81646fae875'), 12)

## Selecting colums in Dask

In [ ]:
dd.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
dd["show_id"].head(1)

0    81145628
Name: show_id, dtype: int64

In [ ]:
dd[["show_id", "title"]].head(3)

    show_id                                    title
0  81145628  Norm of the North: King Sized Adventure
1  80117401               Jandino: Whatever it Takes
2  70234439                       Transformers Prime

In [ ]:
dd['type'][dd["show_id"] == 70234439 ].head(1)

2    TV Show
Name: type, dtype: object

## Apply Function in Dask

In [ ]:
def toupper(x):
    return x.upper()

In [ ]:
dd.title = dd["title"].map(toupper)

In [ ]:
dd.title.head(2)

0    NORM OF THE NORTH: KING SIZED ADVENTURE
1                 JANDINO: WHATEVER IT TAKES
Name: title, dtype: object

# Basics of Dask

In [ ]:
from time import sleep

def inc(x):
    sleep(1)
    return x + 1

def add(x, y):
    sleep(1)

In [ ]:
%%time
# This takes three seconds to run because we call each
# function sequentially, one after the other

x = inc(1)
y = inc(2)
z = add(x, y)

CPU times: user 10.7 ms, sys: 1.94 ms, total: 12.7 ms
Wall time: 3 s

Parallelize with the dask.delayed decorator

In [ ]:
# This runs immediately, all it does is build a graph
from dask import delayed

x = delayed(inc)(1)
y = delayed(inc)(2)
z = delayed(add)(x, y)

In [ ]:
%%time
# This actually runs our computation using a local thread pool

z.compute()

CPU times: user 5.63 ms, sys: 5.22 ms, total: 10.9 ms
Wall time: 2 s

## Exercise: Parallelize a for loop

In [ ]:
from time import sleep

def inc(x):
    sleep(1)
    return x + 1

def add(x, y):
    sleep(1)

data = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
%%time

# Sequential code
results = []
for x in data:
    y = inc(x)
    results.append(y)
    
total = sum(results)

In [ ]:
%%time

results = []

for x in data:
    y = delayed(inc)(x)
    results.append(y)
    
total = delayed(sum)(results)
print("Before computing:", total)  # Let's see what type of thing total is
result = total.compute()
print("After computing :", result)  # After it's computed

Before computing: Delayed('sum-9908d11e-be11-4f19-ba4c-03bd7acceceb')
After computing : 44
CPU times: user 22.1 ms, sys: 1.3 ms, total: 23.4 ms
Wall time: 4.01 s

if you want to use decorators

In [ ]:
from time import sleep

@delayed
def inc(x):
    sleep(1)
    return x + 1

@delayed
def add(x, y):
    sleep(1)

In [ ]:
%%time

# this looks like ordinary code

x = inc(15)
y = inc(30)

total = add(x, y)
total.compute()

CPU times: user 7.24 ms, sys: 1.03 ms, total: 8.27 ms
Wall time: 2 s